
<div class="row mb-4 p-2">
    <div class="col-12 text-center">
        <img src="/assets/images/search7.svg" width="250px" height="250px" alt="howitworks">
    </div>
    <div class="col-4 ">
        <button class="btn btn-danger btn-block">101 Kod'u acili temsil eder.</button>
    </div>
    <div class="col-4">
        <button class="btn btn-warning btn-block">102 Kod'u Çok Acil Değildir.</button>
    </div>
    <div class="col-4">
        <button class="btn btn-info btn-block">103 Kod'u Bekleyebilirdir.</button>
    </div>
    <div class="w-100 mt-2"></div>
    <div class="col-4">
        <button class="btn btn-danger btn-block" data-toggle="tooltip" data-placement="bottom" title="Kitabın uzun uğraşlar sonucu bulunamadığını ifade eder.">Bulunamadı.</button>
    </div>
    <div class="col-4">
        <button class="btn btn-info btn-block" data-toggle="tooltip" data-placement="bottom" title="Kitabın arandığını ifade eder.">İnceleniyor...</button>
    </div>
    <div class="col-4">
        <button class="btn btn-success btn-block" data-toggle="tooltip" data-placement="bottom" title="Kitap başarılı bir şekilde bulunup eklenmiştir.">Eklendi.</button>
    </div>
    <div class="col-md-6 mx-auto mt-4">
        <div class="form-group">
            <label for="search" class="tex-dark">Listeden bir film ara.</label>
            <input type="text" class="form-control bg-white tex-dark" id="search" placeholder="Harry Potter" aria-describedby="search" autocomplete="off">
        </div>
    </div>
</div>
<div class="row">
    <table class="table table-hover table-dark table-bordered">
        <caption>İstek Bildirim Listesi</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">İstek Bildirilen Tarih</th>
                <th scope="col">Film İsmi</th>
                <th scope="col">Yönetmen İsmi</th>
                <th scope="col">Aciliyet</th>
                <th scope="col">Durum</th>
                <th scope="col">Dil</th>
                <th scope="col">Detay</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movieWishes;">
                <th scope="row">1</th>
                <td> {{ movie.date }} </td>
                <td> {{ movie.movieName }} </td>
                <td> {{ movie.directorName }} </td>
                <td> {{ movie.urgentCode }}</td>
                <td> {{ movie.statusCode }} </td>
                <td> {{ movie.language }} </td>
                <td>
                    <a class="btn btn-success btn-sm ">Detaylı İncele</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="row ">
<div class="col mb-4">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>
</div>