
<ngx-spinner bdColor = "rgb(255,255,255)" class="mx-auto text-center" size = "medium" color = "#6D67FE" type = "ball-scale-ripple" [fullScreen] = "true">
    <p class="mt-4 mx-auto text-center" style="color:#000" > Arama sonuçları getiriliyor... </p>
</ngx-spinner>

<div class="row mt-4 ">
    <div class="col-md-2 text-center mt-4">
        <img src="{{ movieInfo?.movieImg }}"  class="img-thumbnail border-dark" width="120px" height="170px"  [alt]="movieInfo.movieImg">
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                <h3 class="mt-2 ">
                    <span>
                        <span *ngIf=" movieInfo.movieName.length > 20">
                            <span *ngIf=" movieInfo.movieName.length <= 25">
                                <h4 class="d-inline-block">{{ movieInfo.movieName }}
                                    (<span>{{ movieInfo.movieReleaseDate }}</span>)
                                </h4>
                            </span>
                            <span *ngIf=" movieInfo.movieName.length > 25">
                                <h5 class="d-inline-block"><b>{{ movieInfo.movieName }}</b>
                                    (<span>{{ movieInfo.movieReleaseDate }}</span>)
                                </h5>
                            </span>
                        </span>
                        <span *ngIf=" movieInfo.movieName.length <= 20">
                            {{ movieInfo.movieName }}
                            (<span>{{ movieInfo.movieReleaseDate }}</span>)
                        </span>
                    </span> 
                    <span class="float-right">
                        <span *ngIf="movieInfo.movieRating == 'NOTFOUND' ">
                            <img src="/assets/images/star2.svg" width="25px" height="25px" alt="NOTFOUND"  >
                        </span>
                        <span *ngIf="calculateStars(movieInfo.movieRating) > 80  ">
                            <img src="/assets/images/star.svg" width="25px" height="25px" alt="star"  *ngFor="let number of [0,1,2,3] ">
                        </span>
                        <span *ngIf="calculateStars(movieInfo.movieRating) > 60 && calculateStars(movieInfo.movieRating) <= 80 ">
                            <img src="/assets/images/star.svg" width="25px" height="25px" alt="star"  *ngFor="let number of [0,1,2] ">
                        </span>
                        <span *ngIf="calculateStars(movieInfo.movieRating) > 40 && calculateStars(movieInfo.movieRating) <= 60 ">
                            <img src="/assets/images/star.svg" width="25px" height="25px" alt="star"  *ngFor="let number of [0,1] ">
                        </span>
                        <span *ngIf="calculateStars(movieInfo.movieRating) > 20 && calculateStars(movieInfo.movieRating) <= 40 ">
                            <img src="/assets/images/star.svg" width="25px" height="25px" alt="star"  *ngFor="let number of [0] ">
                        </span>  
                        <span class="float-right">
                            <div *ngIf="movieInfo.movieRating !='NOTFOUND'">
                                {{ movieInfo.movieRating }}
                            </div>
                            <div *ngIf="movieInfo.movieRating =='NOTFOUND'">N/A</div>
                        </span>
                    </span>
                </h3>
                <hr class="bg-light mt-2 w-100">
                <p> {{movieInfo.movieInfo}} </p>        
            </div>
            <div class="col-md-6  mt-4">
                <p>IMDb Puanı : <span class="font-weight-bold">{{movieInfo.movieRating}}</span></p>
                <p>Dil : <span class="font-weight-bold"> <img src="/assets/images/uk.svg" width="30px" height="30px" alt=""> English</span>
                <p>Toplam Görüntülenme : 
                <span>
                    403
                    <svg width="1.2em" height="1.2em" viewBox="0 0 16 16" class="bi bi-eye-fill" fill="#000" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                        <path fill-rule="evenodd" d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                      </svg>
                </span>
            </div>
            <div class="col-md-6  mt-4">
                <p>Toplam Oylama : <span class="font-weight-bold">{{movieInfo.movieVote}}</span></p>
                <p>Tür : <span class="font-weight-bold"> {{movieInfo.movieGenre}}</span></p>
                <p>Süre : <span class="font-weight-bold"> {{movieInfo.movieTime}}</span> </p>
                

            </div>
        </div>
    </div>
    <div class="w-100">
        <hr class="bg-light">
    </div>



</div> 
<div class="row">
    <div class="col-md-12 mt-1 mb-1">
        <a class="btn btn-block w-100" [ngClass]="isSubtitleExists ? 'btn-success' : 'btn-danger'" id="openMovieInfo" data-toggle="collapse" href="#movieInfo" role="button" aria-expanded="false" aria-controls="movieInfo" >
            Film İçinde Geçen Konuşmalar
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-node-plus-fill float-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11 13a5 5 0 1 0-4.975-5.5H4A1.5 1.5 0 0 0 2.5 6h-1A1.5 1.5 0 0 0 0 7.5v1A1.5 1.5 0 0 0 1.5 10h1A1.5 1.5 0 0 0 4 8.5h2.025A5 5 0 0 0 11 13zm.5-7.5a.5.5 0 0 0-1 0v2h-2a.5.5 0 0 0 0 1h2v2a.5.5 0 0 0 1 0v-2h2a.5.5 0 0 0 0-1h-2v-2z"/>
            </svg>
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-node-minus-fill float-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8a5 5 0 0 1-9.975.5H4A1.5 1.5 0 0 1 2.5 10h-1A1.5 1.5 0 0 1 0 8.5v-1A1.5 1.5 0 0 1 1.5 6h1A1.5 1.5 0 0 1 4 7.5h2.025A5 5 0 0 1 16 8zm-2 0a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5A.5.5 0 0 0 14 8z"/>
            </svg>
        </a>
    </div>
    <div class="row collapse show" id="movieInfo" >
        <div class="col-md-12" >
            <p class="mt-4 p-2">İçinde bulmak istediklerini aşağıdaki arama kutusuna yaz. Senin için onu hemen getirelim.</p>
        </div>
        <div class="col-9 mx-auto mb-4" >
            <input type="text"  (keyup)="applyFilter($event.target.value)" class="form-control " id="search" aria-describedby="search" placeholder="Aramak istediğin kelimeyi,dakikayı yaz" autocomplete="off">
        </div>
        <div class="w-100 mb-2" ></div>
        <div class="col-md-12 mx-auto p-0 m-0  mb-4">
            <mat-paginator [pageSizeOptions]="[10,20,30,40,50,100,200,500]" showFirstLastButtons class="custom-paginator" ></mat-paginator>
            <table mat-table [dataSource]="dataSource" matSort class="w-100">
                
                <ng-container matColumnDef="line" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header  class="w-15" > Satır </th>
                    <td mat-cell *matCellDef="let element"  class="w-15" > {{element.line}} </td>
                </ng-container>

                <ng-container matColumnDef="startTime"  >
                <th mat-header-cell *matHeaderCellDef mat-sort-header  class="w-15"> Başlangıç </th>
                <td mat-cell *matCellDef="let element"  class="w-15"> {{element.startTime}} </td>
                </ng-container>
            
                <ng-container matColumnDef="endTime" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header  class="w-15"> Bitiş </th>
                <td mat-cell *matCellDef="let element"  class="w-15"> {{element.endTime}} </td>
                </ng-container>
                            
                <ng-container matColumnDef="message" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header  class="w-15"> Metin </th>
                <td mat-cell *matCellDef="let element"  class="w-100"> {{element.message}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
            </table>

        </div>
        <div class="col-md-12 mx-auto text-center">
            <img src="/assets/images/404.svg" width="200px" height="200px" alt="404">
        </div>
        <div class="col-md-10 mx-auto mt-4 mb-4" >
            Hey, Bu film içinde geçen kelimeler ne yazik ki mevcut değil. Bizlere destek olabilmek istiyorsan çekinmeden filmin alt yazısını bul ve aşağıya ekle. 1-2 dakika sonra o filmde geçen tüm kelimeleri görebiliceksin.
        </div>
        <div class="col-md-12 text-center mb-4">
            <a href="#" class="btn btn-outline-danger mr-2">Bildir</a>
            <a href="#" class="btn btn-success ml-2">Kendim eklemek istiyorum.</a>
        </div> 
    </div>

    <div class="col-md-12 mt-1 mb-1" >
        <a class="btn btn-block collapsed"  [ngClass]="isSubtitleExists ? 'btn-success' : 'btn-danger'" data-toggle="collapse" href="#movieStatics" role="button" aria-expanded="false" aria-controls="movieStatics" >
            Meraklısına İstatikler
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-node-plus-fill float-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11 13a5 5 0 1 0-4.975-5.5H4A1.5 1.5 0 0 0 2.5 6h-1A1.5 1.5 0 0 0 0 7.5v1A1.5 1.5 0 0 0 1.5 10h1A1.5 1.5 0 0 0 4 8.5h2.025A5 5 0 0 0 11 13zm.5-7.5a.5.5 0 0 0-1 0v2h-2a.5.5 0 0 0 0 1h2v2a.5.5 0 0 0 1 0v-2h2a.5.5 0 0 0 0-1h-2v-2z"/>
            </svg>
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-node-minus-fill float-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8a5 5 0 0 1-9.975.5H4A1.5 1.5 0 0 1 2.5 10h-1A1.5 1.5 0 0 1 0 8.5v-1A1.5 1.5 0 0 1 1.5 6h1A1.5 1.5 0 0 1 4 7.5h2.025A5 5 0 0 1 16 8zm-2 0a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5A.5.5 0 0 0 14 8z"/>
            </svg>
        </a>
    </div>    
    <div class="row  p-4 collapse" id="movieStatics">
        <div class="col-md-12 mb-4">
            <p>                
                Burada filmde geçen toplam kelimeleri bulabilirsin. Aşağıdaki istatistiklere göre bir kelimenin o filmde kaç kere kullanıldığı yazılmaktadır. Hata olduğunu düşünüyorsan bunu bizlere bildirebilirisin.
            </p>
        </div>
        <div class="col-md-12">
            <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col" class="w-25">#</th>
                    <th scope="col" class="w-25 text-center">Kelime</th>
                    <th scope="col" class="w-50 text-center">Kullanılma Miktari</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td class="w-25 text-center">Mark</td>
                    <td class="w-50 text-center">Otto</td>
                  </tr>
                </tbody>
              </table>
        </div>                
    </div>

    <div class="col-md-12">
        <a class="btn btn-dark btn-block collapsed" data-toggle="collapse" href="#movieError" role="button" aria-expanded="false" aria-controls="movieError" >
            Hata Bildir
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-node-plus-fill float-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11 13a5 5 0 1 0-4.975-5.5H4A1.5 1.5 0 0 0 2.5 6h-1A1.5 1.5 0 0 0 0 7.5v1A1.5 1.5 0 0 0 1.5 10h1A1.5 1.5 0 0 0 4 8.5h2.025A5 5 0 0 0 11 13zm.5-7.5a.5.5 0 0 0-1 0v2h-2a.5.5 0 0 0 0 1h2v2a.5.5 0 0 0 1 0v-2h2a.5.5 0 0 0 0-1h-2v-2z"/>
            </svg>
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-node-minus-fill float-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M16 8a5 5 0 0 1-9.975.5H4A1.5 1.5 0 0 1 2.5 10h-1A1.5 1.5 0 0 1 0 8.5v-1A1.5 1.5 0 0 1 1.5 6h1A1.5 1.5 0 0 1 4 7.5h2.025A5 5 0 0 1 16 8zm-2 0a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h5A.5.5 0 0 0 14 8z"/>
            </svg>
        </a>
    </div>
    <div class="row w-100 collapse" id="movieError">

        <div class="col-md-6 mx-auto mt-4">
            <label for="email">Email Adresiniz</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
        </div>
        <div class="w-100"></div>
        <div class="col-md-6 mx-auto mt-4">
            <label for="error">Hatayı başlığını giriniz.</label>
            <input type="text" class="form-control" id="error" placeholder="Hatayı başlığını giriniz.">
        </div>
        <div class="w-100"></div>
        <div class="col-md-6 mx-auto mt-4">
            <label for="error">Hatayı kısaca açıklayınız.</label>
            <textarea class="form-control" id="error" rows="3" placeholder="Hatayı kısaca açıklayınız."></textarea>
        </div>
        <div class="w-100"></div>
        <div class="col-md-6 mx-auto mt-4">
            <button class="btn btn-warning btn-block">Hatayı Bildir</button>
        </div>
    </div>

    <div class="w-100" style="height: 100px;"></div>

</div>


<div class="p-4">
    <app-lastsearch></app-lastsearch>

    <app-lastview></app-lastview>


</div>

