
<!-- Son Ziyaret Edilenler -->
<span *ngIf="lastVisits.length > 1">
<h2  class=" mb-1 text-left tex-dark">Son Ziyaret Ettiklerin</h2>
<hr class="bg-white m-0 p-0">
<div class="row text-center mx-auto">
    <div class="col movie p-0 m-2 bg-special border border-white rounded" *ngFor="let movie of lastVisits" style="height: 200px;">
        <div class="movie-up  text-center position-absolute w-100 mt-2 p-1">
            <span *ngIf="movie.movieDirectors.length > 1"><p>Yönetmen <br><b> {{ movie.movieDirectors }} </b></p></span>
            <p>Tür :<span>{{ movie.movieGenre }}</span></p>
            <p>Süre :<span>{{ movie.movieTime }}</span></p>
            <p><img src="/assets/images/star.svg" width="20px" height="20px" alt="star"> <span>{{ movie.movieRating }}</span> / 10</p>
            <a  target="_blank" [routerLink]="['/movie/', movie.movieId]" class="btn btn-outline-success btn-sm btn-block mt-2">Filme Git</a>
        </div>
        <span class="movie-image mt-1">
            <img [src]="movie.movieImg" class="text-center mt-4 img-thumbnail" width="95px" height="120px"  alt="yazibiradi">
        </span>
        <div class="movie-name">
            <a target="_blank" [routerLink]="['/movie/', movie.movieId]" class="p-0 movie-name">
                Filme Git
            </a>
        </div>
        
    </div>
</div> 
</span>