<style>
    .text-gradient {
        background: -webkit-linear-gradient(#343A41,#675EE5);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }
    .bg-purple {
        background-color: #4D4395;
    }
</style>
<div class="row">
    <div class="col-md-12 text-center">
        <img src="/assets/images/contact.svg" width="200px" height="200px" alt="contactus">
    </div>
    <div class="col-md-12 text-center">
        <h1 class="text-gradient mb-4">moviereader.io  </h1>
    </div>
    <div class="col-md-12 mt-4">
        <h4 class="text-gradient text-center mb-4">Contact Us</h4>
        <div class="col-md-6 mx-auto mt-4">
            <label for="email">Email Adresiniz</label>
            <input type="email" class="form-control" id="email" placeholder="name@example.com">
            <small id="emailHaveto" class="form-text text-muted">*Sana geri dönüş yapabilmek için lütfen geçerli bir mail adresi gir.</small>

        </div>
        <div class="w-100"></div>
        <div class="col-md-6 mx-auto mt-4">
            <label for="error">Konu belirtiniz.</label>
            <input type="text" class="form-control" id="error" placeholder="Konu giriniz.">
        </div>
        <div class="w-100"></div>
        <div class="col-md-6 mx-auto mt-4">
            <label for="error">Kısaca açıklayınız.</label>
            <textarea class="form-control" id="error" rows="5" placeholder="Kısaca açıklayınız."></textarea>
        </div>
        <div class="w-100"></div>
        <div class="col-md-6 mx-auto mt-4 mb-4">
            <button class="btn btn-warning bg-purple text-white btn-block">Hatayı Bildir</button>
        </div>
        <div class="" style="height: 100px;"></div>

    </div>
</div>