

<!--Footer-->
<div class="row p-0 m-0 border-top border-danger rounded-top" style="background-color: #000;" >
    <div class="col-md-1 text-center">
        <img src="/assets/images/movie-night-white.svg" width="100px" height="100px" alt="movie">
    </div>
    
    <div class="col-md-8 mx-auto text-center mt-4 h5">
        <a routerLink="/me/about" routerLinkActive="active" class="text-white p-4" >About</a>
        <a routerLink="/me/contact" routerLinkActive="active"  class="text-white p-4">Contact</a>
        <a routerLink="/me/api" routerLinkActive="active"  class="text-white p-4">API</a>
    </div>
    <div class="col-md-3 mr-auto mt-4 text-right">
        <a href="https://kayafirat.com">This website created by kayafirat.com</a>
    </div>
    
</div>