<style>
    .text-gradient {
        background: -webkit-linear-gradient(#343A41,#675EE5);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        }
</style>
<div class="row mx-auto">
    <div class="col-md-12  text-center mt-4 mb-0">
        <img src="/assets/images/about.svg" width="200px" height="200px" alt="me">

    </div>
    <div class="col-md-12 text-center">
        <h1 class="text-gradient mb-4">moviereader.io</h1>
    </div>
    <div class="col-md-12">
        <p>Hello</p>
        <p>I am a creator of this website. Well be honestly I do not want to talk about myself so much.</p>
        <p>I created this website because I want to back to remember what was talked about between two times.</p>
        <p>So I decided to moviereader.io, İt would be simple, I would to write search bar that show movies and click what ı want.</p>
        <p>After that I can see details in the movie.</p>
        <p>If you have idea that better make us, please contact me, also ı sharing my codes and data to other people. </p>
        <p>Main idea is simple. I added over 500,000+ movies. After that, Users who wants to add movie can expand our data. I allow permissions to them.</p>
        <p>Also I write a simple document how to add a movie. <a href="#">View this document.</a></p>


        <h5 class="mt-4 text-success">What you can</h5>
        <p><span class="h4 text-success">+</span> You can find movies and subtitles without download</p>
        <p><span class="h4 text-success">+</span> You can download the source codes and changes everything to yourself.</p>
        <p><span class="h4 text-success">+</span> You can access my API, and read all data. Without shits-token, I tried to easy and increase user experience as possible as.</p>
        
        <h5 class="mt-4 text-danger">What you can't</h5>
        <p><span class="h4 text-success">-</span>You can not user this all data for commercial projects.</p>
        <p><span class="h4 text-success">-</span>You have only read permissions for API, can not change anythings.</p>
    
        
        <h5 class="mt-4 text-primary">Why aren't we choose earn money and add ads in here ?</h5>
        <p>First of all, I did'nt to anything. For example I didn't add movies in here, I just take a copy from some movie sites.</p>
        <p>Also I collect movies' subtitle and reformat them. Yes there were 500,000 movies and I collected all of them.</p>
        <p>There were so much labor in subtitles and movies, So I decided to turn an open source and no-commercial project.</p>
        
    </div>
    <div class="col-md-12 text-left mt-4">
        <p>Thanks for everything,</p>
        <p><b>Fırat Kaya</b></p>
        <p><a href="mailto:firat@kayafirat.com">firat@kayafirat.com</a></p>

        <p class="mt-2"><b>P.S</b> : Please, Do not <ins class="text-success">hesitate</ins> to send me email. I <ins class="text-primary">appreciate</ins> hear to your ideas in this project.</p>
    </div>
</div>
<div class="" style="height: 100px;"></div>