<div class="row mt-4">
    <div class="col-md-12 text-center">
        <img src="/assets/images/search7.svg" width="250px" height="250px" alt="search">
    </div>
    <div class="col-md-12 mb-4  ">
        <p>Film arama botuna hoşgeldin. İstediğin filmi bulamazsan lütfen bizlere bildir. Senin için elimizden geleni yapacağız.</p>
    </div>
    <div class="col-md-4">
        <label for="movieName"><b>Film Adını Giriniz</b></label>
        <input type="text" class="form-control" id="movieName" placeholder="Film Adını Giriniz" aria-describedby="movieName">
        <small id="movieNameMsg" class="form-text text-danger">*Bu alan zorunludur.</small>
    </div>
    <div class="col-md-4">
        <label for="movieDirectorName"><b>Yönetmen Adını Giriniz</b></label>
        <input type="text" class="form-control" id="movieDirectorName" placeholder="Yönetmen Adını Giriniz" aria-describedby="movieDirectorName">
        <small id="movieDirectorNameMsg" class="form-text text-muted">*Bu alan zorunlu değildir.</small>

    </div>
    <div class="col-md-4">
        <label for="movieType"><b>Film Türünü Giriniz</b></label>
        <input type="text" class="form-control" id="movieType" placeholder="Film Türünü Giriniz" aria-describedby="movieType">
        <small id="movieTypeMsg" class="form-text text-muted">*Bu alan zorunlu değildir.</small>
    </div>
    <div class="w-100 mt-4 "></div>
    <div class="col-md-12 mb-4">
        <b>Aramak İstediğiniz Yıl Aralığını Giriniz. Sadece YYYY formatında giriniz.</b>
        <small id="movieTypeMsg" class="form-text text-success">*İpucu:Aramanızı detaylandırırsanız istediğiniz filmi bulmanız kolaylaşacaktır.</small>
    </div>
    <div class="col-md-3">
        <input type="number" class="form-control" id="movieStartDate" placeholder="2019" aria-describedby="movieStartDate">
        <small id="movieTypeMsg" class="form-text text-muted">*Bu alan zorunlu değildir.</small>
    </div>
    <div class="col-md-3 mr-auto">
        <input type="number" class="form-control" id="movieEndDate" placeholder="2021" aria-describedby="movieEndDate">
        <small id="movieTypeMsg" class="form-text text-muted">*Bu alan zorunlu değildir.</small>
    </div>
    <div class="col-md-4 ">
        <select class="custom-select custom-select-md">
            <option selected>Dili Seçiniz.</option>
            <option value="1">Türkçe</option>
            <option value="2">English</option>
            <option value="3">Deustch</option>
            <option value="4">Arabic</option>
            <option value="5">English</option>
        </select>
        <small id="movieTypeMsg" class="form-text text-muted">*Bu alan zorunlu değildir.</small>
    </div>
    <div class="w-100 mt-2 mb-2"></div>
    <div class="col-md-12 mb-4">
        <b>Film puan aralığını giriniz.</b>
    </div>
    <div class="col-md-3">
        <select class="custom-select custom-select-md">
            <option selected>Minimum Oy</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="3">5</option>
            <option value="3">6</option>
            <option value="3">7</option>
            <option value="3">8</option>
            <option value="3">9</option>
            <option value="3">10</option>
        </select>
        <small id="movieTypeMsg" class="form-text text-muted">*Bu alan zorunlu değildir.</small>

    </div>
    <div class="col-md-3">
        <select class="custom-select custom-select-md">
            <option selected>Maksimum Oy</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="3">5</option>
            <option value="3">6</option>
            <option value="3">7</option>
            <option value="3">8</option>
            <option value="3">9</option>
            <option value="3">10</option>
        </select>
        <small id="movieTypeMsg" class="form-text text-muted">*Bu alan zorunlu değildir.</small>
    </div>
    <div class="w-100 mb-4 mt-4"></div>
    <div class="col-md-8 mb-2 text-right">
        <button class="btn btn-success btn-block">Aramayı Başlat</button>
    </div>
    <div class="col-md-4 text-right">
        <button class="btn btn-danger btn-block">Temizle</button>
    </div>


</div>
<div class="w-100" style="height: 1500px;"></div>
