
<!--First-->
<div class="row">
    <div class="col-md-12 text-center">
        <img src="/assets/images/movie-night.svg" width="250px" height="250px" alt="howitworks">

    </div>
   <div class="col-md-12 mt-4">
        <h5>       
            Bir filmde geçen tüm yazıları görmek artı çok kolay. Tek yapman gereken aşağıdaki kutucağa istediğin filmi yazmak.
        </h5>
    </div>
    <div class="w-100" style="height: 50px;"></div>
    <div class="col-md-10 mx-auto ">
            <label for="search" class="tex-dark">Aramak istediğin filmi yaz</label>
            <input type="text" class="form-control bg-white tex-dark" id="search" placeholder="Harry Potter" aria-describedby="search" autocomplete="off">
            <small id="emailHelp" class="form-text text-muted">İstediğin filmi bulamadın mı ? O zaman bunu bize bildir senin için ekleyelim..</small>
    </div>
    <div class="col-md-2 mt-2 text-left">
            <button class="btn btn-outline-success btn-block mt-4">Arama Yap</button>
    </div>
</div>
    

<app-info></app-info>

<app-lastsearch></app-lastsearch>

<app-lastview></app-lastview>


        
