<!--How it works-->


<div class="row mt-4">
    <div class="col-md-12 mx-auto text-center mt-4">
        <img src="/assets/images/question.svg" width="250px" height="250px" alt="howitworks">
    </div>
    <div class="col-md-12 tex-dark">
        <h3>Nasıl Çalışır  <ins class="tex-dark"> <span class="text-danger"><strong>?</strong></span> </ins>  </h3>
        <hr class="bg-white">
        <p><a href="#" class="text-danger"><ins>movie.io</ins></a>'ya gir. Ekranın ortasına senin için koyduğumuz arama kısmına tıkla ve en sevdiğin filmi ya da diziyi yaz.</p>
        <p>Bitti mi ? Hayır, Sevdiğin filmi arama ekranında daha rahat bulabilmen için geliştirdik ve altta çıkıcak sonuçlardan birini seç.</p>
        <p>İşte bu kadar, Açılan yeni sayfada izlemiş olduğun filmin hangi dakikasında neler konuşulmuş hepsi orada duruyor.</p>

        <p>Sakın bu kadar ile yetindiğimizi düşünme, Bizler seni düşündük ve belkide farklı bir dil'de görmek isteyebileceğine karar verdik. Hemen tablonun üst kısmından görmek istediğin dili seç.</p>
    </div>
    <div class="col-md-12 tex-dark">
        <h3>Bu imkansız, aradığım film <s>yok</s>   <span class="text-danger"><strong>!</strong></span>  </h3>
        <hr class="bg-white">
        <p ><s class="tex-dark">Bunu kesinlikle kabul etmiyoruz, siz aramasını bilmiyorsunuz...</s></p> 
        <p>
            Demek yerine özür diliyoruz ve burada bulamadığınız film ya da diziyi bizlere ilettiğiniz takdirde 48 saat içinde ayağınıza getirmeye söz veriyoruz.
        </p>
        <p>Hiç durmadan çalışmaya, her filmi ve her diziyi buraya eklemeye elimizden gelen gayreti gösteriyoruz.Çünkü bizler movie.io'nun antik savaşçıları olduğumuzu biliyoruz. </p>
        <p>Her çırak bir gün usta olabileceğine de inaniyoruz, inanmakla kalmadık, bizleri ziyaret eden yüzlerce dostumuza ustalık madalyası hediye etmeyi amaçladık. </p>
    </div>
    <div class="col-md-12 tex-dark">
        <h3>İki film arayıp çıkıcaktım, ne ustalığı kardeşim !  </h3>
        <hr class="bg-white">
        <p>movie.io'da bulunmayan her filmi yada diziyi bize getiren herkesi birer ustalık madalyası ile şereflendiriyoruz. Bunu nasıl yapıldığını görmek için tıklamanız yeterli. </p>
    </div>
    </div>