<ngx-spinner bdColor = "rgb(255,255,255)" class="mx-auto text-center" size = "medium" color = "#6D67FE" type = "ball-scale-ripple" [fullScreen] = "true">
    <p class="mt-4 mx-auto text-center" style="color:#000" > Arama sonuçları getiriliyor... </p>
</ngx-spinner>
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="/assets/images/video-files.svg" width="250px" height="250px" alt="howitworks">
        </div>
        <div class="w-100"></div>
        <div class="col-md-10 mx-auto">
            <label for="search" class="text-white">Aramak istediğin filmi yaz</label>
            <input type="text" class="form-control " id="search" aria-describedby="search" placeholder="Aramak istediğin filmi yaz" autocomplete="off">
            <small id="emailHelp" class="form-text text-muted">İstediğin filmi bulamadın mı ? O zaman bunu bize bildir senin için ekleyelim..</small>
        </div>
        <div class="col-md-2 mx-auto mt-4">
            <button class="btn btn-outline-success btn-block mt-2">Arama yap</button>
        </div>
        <div class="w-100 mt-4"></div>
        <div class="col-md-7 ">
            <p>Toplam {{totalPages}} adet sonuç bulundu.</p>
        </div>
        <div class="col mb-2">
            <select class="custom-select" (change)="ngOnChangePageSize($event.target.value)">
                <option [selected]="perPageSize?true:false" >10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
                <option value="60">60</option>
                <option value="70">70</option>
                <option value="80">80</option>
                <option value="90">90</option>
                <option value="100">100</option>
            </select>
        </div>
        <div class="col-2 p-0 m-0">
            <select class="custom-select" (change)="ngOnChangeSortedBy($event.target.value)">
                <option selected>Sıralamayı Seçiniz</option>
                <option value="date|desc">Tarihe Göre Sırala Çoktan Aza</option>
                <option value="date|asc">Tarihe Göre Sırala Azdan Çoğa</option>
                <option value="rate|desc">Yıldıza Göre Sırala Çoktan Aza</option>
                <option value="rate|asc">Yıldıza Göre Sırala Azdan Çoğa</option>
                <option value="time|desc">Süreye Göre Sırala Çoktan Aza</option>
                <option value="time|asc">Süreye Göre Sırala Azdan Çoğa</option>
                <option value="vote|desc">Toplam Oy'a Göre Sırala Çoktan Aza</option>
                <option value="vote|asc">Toplam Oy'a Göre Sırala Azdan Çoğa</option>
              </select>
        </div>
        <div class="col">
            <button class="btn btn-warning" (click)="redirectSearch()" >Filtrele</button>
        </div>
    </div>
    

    <div class="row border border-dark border-bottom-0" *ngFor="let movie of movies">
        <div class="col pl-0">
            <a target="_blank" [routerLink]="['/movie/', movie.movieId]" routerLinkActive="active" >
                <div *ngIf="movie.movieImg != 'NOTFOUND' ">
                    <img [src]="movie.movieImg" class="p-4 border " width="150px" height="200px" alt="/assets/images">
                </div>
                <div *ngIf="movie.movieImg == 'NOTFOUND' ">
                    <img src="/assets/images/unknown.svg" width="150px" height="200px" alt="/assets/images">
                </div>
            </a>
        </div>
        <div class="col-8 border-right border-dark pl-0 ">
            <h3 class="mt-2">
                <a target="_blank" [routerLink]="['/movie/', movie.movieId]" routerLinkActive="active" class="text-dark" >
                    <span>
                        <span *ngIf=" movie.movieName.length > 20">
                            <span *ngIf=" movie.movieName.length <= 25">
                                <h4 class="d-inline-block">{{ movie.movieName }}
                                    (<span>{{ movie.movieReleaseDate }}</span>)
                                </h4>
                            </span>
                            <span *ngIf=" movie.movieName.length > 25">
                                <h5 class="d-inline-block"><b>{{ movie.movieName }}</b>
                                    (<span>{{ movie.movieReleaseDate }}</span>)
                                </h5>
                            </span>
                        </span>
                        <span *ngIf=" movie.movieName.length <= 20">
                            {{ movie.movieName }}
                            (<span>{{ movie.movieReleaseDate }}</span>)
                        </span>
                    </span>  
                    <span class="float-right">
                        <span *ngIf="movie.movieRating == 'NOTFOUND' ">
                            <img src="/assets/images/star2.svg" width="25px" height="25px" alt="NOTFOUND"  >
                        </span>
                        <span *ngIf="calculateStars(movie.movieRating) > 80  ">
                            <img src="/assets/images/star.svg" width="25px" height="25px" alt="star"  *ngFor="let number of [0,1,2,3] ">
                        </span>
                        <span *ngIf="calculateStars(movie.movieRating) > 60 && calculateStars(movie.movieRating) <= 80 ">
                            <img src="/assets/images/star.svg" width="25px" height="25px" alt="star"  *ngFor="let number of [0,1,2] ">
                        </span>
                        <span *ngIf="calculateStars(movie.movieRating) > 40 && calculateStars(movie.movieRating) <= 60 ">
                            <img src="/assets/images/star.svg" width="25px" height="25px" alt="star"  *ngFor="let number of [0,1] ">
                        </span>
                        <span *ngIf="calculateStars(movie.movieRating) > 20 && calculateStars(movie.movieRating) <= 40 ">
                            <img src="/assets/images/star.svg" width="25px" height="25px" alt="star"  *ngFor="let number of [0] ">
                        </span>
                        
                        <span class="float-right">
                            <div *ngIf="movie.movieRating !='NOTFOUND'">
                                {{ movie.movieRating }}
                            </div>
                            <div *ngIf="movie.movieRating =='NOTFOUND'">N/A</div>
                        </span>
                    </span>
                </a>
            </h3>
            <hr class="bg-light mt-2 w-100">
            <p class="">
                {{ movie.movieInfo }}
            </p>
        </div>
        <div class="col">
                <div *ngIf="movie.movieVote !='NOTFOUND'">
                    Movie Vote :  {{ movie.movieVote }}
                </div>
                <div *ngIf="movie.movieVote =='NOTFOUND'"> Movie Vote :  N/A</div>
                <p><span>{{ movie.movieGenre }}</span></p> 
                <p>Süre :<span>{{ movie.movieTime }}</span></p>
                <p><img src="/assets/images/star.svg" width="20px" height="20px" alt="star"> {{ movie.movieRating }}</p>
                <a href="#" class="btn btn-outline-danger btn-sm btn-block mt-1">Hata Bildir</a>
                <a target="_blank" [routerLink]="['/movie/', movie.movieId]" routerLinkActive="active" class="btn btn-outline-success btn-sm btn-block mt-1">Filme Git</a>
        </div>
    </div>   

    <div class="row mt-4">
        <div class="col-6 mx-auto mt-4 mb-4">
            <select class="custom-select" (change)="ngOnChangePage($event.target.value)">
                <option selected>Gitmek istediğiniz sayfayı seçiniz.</option>
                <option [value]="i" *ngFor="let page of pages; index as i;">{{i}}</option>
              </select>
        </div>
    </div>