    <div class="row">
        <div class="col-md-12 text-center">
            <img src="/assets/images/video-files.svg" width="250px" height="250px" alt="howitworks">
        </div>
        <div class="w-100"></div>
        <div class="col-8 mx-auto">
            <label for="search" class="text-white">Aramak istediğin filmi yaz</label>
            <input type="text" class="form-control " id="search" aria-describedby="search" placeholder="Aramak istediğin filmi yaz" autocomplete="off">
            <small id="emailHelp" class="form-text text-muted">İstediğin filmi bulamadın mı ? O zaman bunu bize bildir senin için ekleyelim..</small>
        </div>
        <div class="w-100  mt-4"></div>
        <div class="col-md-7 ">
            <p>Toplam 234 adet sonuç bulundu.</p>
        </div>
        <div class="col mb-2">
            <select class="custom-select ">
                <option selected>10</option>
                <option value="1">20</option>
                <option value="2">30</option>
                <option value="3">40</option>
              </select>
        </div>
        <div class="col-2 p-0 m-0">
            <select class="custom-select">
                <option selected>Sıralamayı Seçiniz</option>
                <option value="1">Tarihe Göre Sırala</option>
                <option value="2">Yıldıza Göre Sırala</option>
                <option value="3">Süreye Göre Sırala</option>
              </select>
        </div>
        <div class="col">
            <button class="btn btn-success">Arama Yap</button>
        </div>
    </div>

    <div class="row border border-danger">
        <div class="col pl-0">
            <img src="/assets/images/mov3.jpg" width="150px" height="200px" alt="/assets/images">
        </div>
        <div class="col-8 border-right border-dark pl-0 ">
            <h3 class="mt-2 ">Zor Ölüm 4 (2017)
                <span class="float-right">
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                 8.7
                </span>
            </h3>
            <hr class="bg-light mt-2 w-100">
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, est voluptatum ipsam quos assumenda sint. Praesentium, dolore ab. Quae soluta voluptates ex earum possimus voluptatum dicta aliquam consequuntur tempore beatae?</p>
        </div>
        <div class="col">
                <p class="mt-2"><b>Quentina Tarantino</b></p>
                <p><span>Dram,Aksiyon,Aşk</span></p>
                <p>Süre :<span>2h30min</span></p>
                <p><img src="/assets/images/star.svg" width="20px" height="20px" alt="star"> 8.5 / 10</p>
                <a href="#" class="btn btn-outline-danger btn-sm btn-block mt-2">Fragmana Git</a>
                <a href="#" class="btn btn-outline-success btn-sm btn-block mt-2">Filme Git</a>
        </div>
    </div>     
    <div class="row border border-danger">
        <div class="col pl-0">
            <img src="/assets/images/mov3.jpg" width="150px" height="200px" alt="/assets/images">
        </div>
        <div class="col-8 border-right border-dark pl-0 ">
            <h3 class="mt-2 ">Zor Ölüm 4 (2017)
                <span class="float-right">
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                 8.7
                </span>
            </h3>
            <hr class="bg-light mt-2 w-100">
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, est voluptatum ipsam quos assumenda sint. Praesentium, dolore ab. Quae soluta voluptates ex earum possimus voluptatum dicta aliquam consequuntur tempore beatae?</p>
        </div>
        <div class="col">
                <p class="mt-2"><b>Quentina Tarantino</b></p>
                <p><span>Dram,Aksiyon,Aşk</span></p>
                <p>Süre :<span>2h30min</span></p>
                <p><img src="/assets/images/star.svg" width="20px" height="20px" alt="star"> 8.5 / 10</p>
                <a href="#" class="btn btn-outline-danger btn-sm btn-block mt-2">Fragmana Git</a>
                <a href="#" class="btn btn-outline-success btn-sm btn-block mt-2">Filme Git</a>
        </div>
    </div>  
    <div class="row border border-danger">
        <div class="col pl-0">
            <img src="/assets/images/mov3.jpg" width="150px" height="200px" alt="/assets/images">
        </div>
        <div class="col-8 border-right border-dark pl-0 ">
            <h3 class="mt-2 ">Zor Ölüm 4 (2017)
                <span class="float-right">
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                 8.7
                </span>
            </h3>
            <hr class="bg-light mt-2 w-100">
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, est voluptatum ipsam quos assumenda sint. Praesentium, dolore ab. Quae soluta voluptates ex earum possimus voluptatum dicta aliquam consequuntur tempore beatae?</p>
        </div>
        <div class="col">
                <p class="mt-2"><b>Quentina Tarantino</b></p>
                <p><span>Dram,Aksiyon,Aşk</span></p>
                <p>Süre :<span>2h30min</span></p>
                <p><img src="/assets/images/star.svg" width="20px" height="20px" alt="star"> 8.5 / 10</p>
                <a href="#" class="btn btn-outline-danger btn-sm btn-block mt-2">Fragmana Git</a>
                <a href="#" class="btn btn-outline-success btn-sm btn-block mt-2">Filme Git</a>
        </div>
    </div>  
    <div class="row border border-danger">
        <div class="col pl-0">
            <img src="/assets/images/mov3.jpg" width="150px" height="200px" alt="/assets/images">
        </div>
        <div class="col-8 border-right border-dark pl-0 ">
            <h3 class="mt-2 ">Zor Ölüm 4 (2017)
                <span class="float-right">
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                 8.7
                </span>
            </h3>
            <hr class="bg-light mt-2 w-100">
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, est voluptatum ipsam quos assumenda sint. Praesentium, dolore ab. Quae soluta voluptates ex earum possimus voluptatum dicta aliquam consequuntur tempore beatae?</p>
        </div>
        <div class="col">
                <p class="mt-2"><b>Quentina Tarantino</b></p>
                <p><span>Dram,Aksiyon,Aşk</span></p>
                <p>Süre :<span>2h30min</span></p>
                <p><img src="/assets/images/star.svg" width="20px" height="20px" alt="star"> 8.5 / 10</p>
                <a href="#" class="btn btn-outline-danger btn-sm btn-block mt-2">Fragmana Git</a>
                <a href="#" class="btn btn-outline-success btn-sm btn-block mt-2">Filme Git</a>
        </div>
    </div>  
    <div class="row border border-danger">
        <div class="col pl-0">
            <img src="/assets/images/mov3.jpg" width="150px" height="200px" alt="/assets/images">
        </div>
        <div class="col-8 border-right border-dark pl-0 ">
            <h3 class="mt-2 ">Zor Ölüm 4 (2017)
                <span class="float-right">
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                 8.7
                </span>
            </h3>
            <hr class="bg-light mt-2 w-100">
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, est voluptatum ipsam quos assumenda sint. Praesentium, dolore ab. Quae soluta voluptates ex earum possimus voluptatum dicta aliquam consequuntur tempore beatae?</p>
        </div>
        <div class="col">
                <p class="mt-2"><b>Quentina Tarantino</b></p>
                <p><span>Dram,Aksiyon,Aşk</span></p>
                <p>Süre :<span>2h30min</span></p>
                <p><img src="/assets/images/star.svg" width="20px" height="20px" alt="star"> 8.5 / 10</p>
                <a href="#" class="btn btn-outline-danger btn-sm btn-block mt-2">Fragmana Git</a>
                <a href="#" class="btn btn-outline-success btn-sm btn-block mt-2">Filme Git</a>
        </div>
    </div>  
    <div class="row border border-danger">
        <div class="col pl-0">
            <img src="/assets/images/mov3.jpg" width="150px" height="200px" alt="/assets/images">
        </div>
        <div class="col-8 border-right border-dark pl-0 ">
            <h3 class="mt-2 ">Zor Ölüm 4 (2017)
                <span class="float-right">
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                    <img src="/assets/images/star.svg" width="25px" height="25px" alt="star">  
                 8.7
                </span>
            </h3>
            <hr class="bg-light mt-2 w-100">
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, est voluptatum ipsam quos assumenda sint. Praesentium, dolore ab. Quae soluta voluptates ex earum possimus voluptatum dicta aliquam consequuntur tempore beatae?</p>
        </div>
        <div class="col">
                <p class="mt-2"><b>Quentina Tarantino</b></p>
                <p><span>Dram,Aksiyon,Aşk</span></p>
                <p>Süre :<span>2h30min</span></p>
                <p><img src="/assets/images/star.svg" width="20px" height="20px" alt="star"> 8.5 / 10</p>
                <a href="#" class="btn btn-outline-danger btn-sm btn-block mt-2">Fragmana Git</a>
                <a href="#" class="btn btn-outline-success btn-sm btn-block mt-2">Filme Git</a>
        </div>
    </div>  

    <div class="row mt-4">
        <div class="col-12 mx-auto mt-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
            </nav>
        </div>
    </div>